version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: todo_mysql_db
    restart: always
    # Boa prática: Healthcheck garante que o banco está pronto antes de tentar conectar
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    environment:
      # Aqui injetamos as variáveis do .env no container
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      # Boa prática: Nomear o volume para persistência de dados
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
    driver: local